In [2]:
import pandas as pd
import numpy as np

# Load the data
df = pd.read_csv("Co2_Pt_5A.csv", low_memory=False)

In [3]:
# Rename columns to more meaningful names
rename_dict = {
    'Mk': 'Brand', 'Mp': 'Constructor', 'Mt': 'Test_mass', 'Ft': 'Energy', 'Fm': 'Fuel_mode',
    'm (kg)': 'Kg_veh', 'ec (cm3)': 'Engine_cm3', 'ep (KW)': 'Power_KW', 'z (Wh/km)': 'El_Consumpt_whkm',
    'Ewltp (g/km)': 'CO2_wltp', 'W (mm)': 'Wheelbase_mm', 'At1 (mm)': 'Axle_width_steer_mm', 
    'At2 (mm)': 'Axle_width_other_mm', 'T': 'Veh_type', 'Ve': 'Version', 'Cn': 'Veh_Model', 'Cr': 'Veh_Category','Fuel consumption ': 'Fuel consumption' 
}
df.rename(columns=rename_dict, inplace=True)

#Creating Eco-innovation column
# Create the 'Eco-innovation program' column based on 'IT' column's NaN status
df['Eco-innovation program'] = df['IT'].notna().astype(int)

# Dropping unnecessary columns
columns_to_drop = ['Man', 'Tan', 'r', 'Date of registration', 'Status', 'VFN', 'Va', 'Ct', 'IT', 'De', 'Vf','Mh', 'MMS']
df.drop(columns=columns_to_drop, inplace=True)

# Consolidating fuel types into simpler categories and converting text to lowercase
fuel_type_mapping = {
    'diesel/electric': 'hybrid diesel', 'petrol/electric': 'hybrid petrol', 'electric': 'electric',
    'diesel': 'diesel', 'petrol': 'petrol', 'lpg': 'lpg', 'ng': 'natural gas', 'hydrogen': 'hydrogen'
}

### filling NaNs
# Map and standardize the 'Energy' values, fill unmatched as 'Other' temporarily
df['Energy'] = df['Energy'].str.lower().map(fuel_type_mapping)

# Attempt to fill NaN values based on the group mode of 'Veh_Model' and 'Version'
df['Energy'] = df.groupby(['Veh_Model', 'Version'])['Energy'].transform(lambda x: x.fillna(x.mode().iloc[0] if not x.mode().empty else np.nan))


# Drop any rows that still have NaN values in the 'Energy' column
df.dropna(subset=['Energy'], inplace=True)

# print the DataFrame to confirm changes
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 895128 entries, 0 to 898306
Data columns (total 26 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   ID                      895128 non-null  int64
 1   Country                 895128 non-null  object
 2   Constructor             844760 non-null  object
 3   Veh_type                895128 non-null  object
 4   Version                 895128 non-null  object
 5   Brand                   895128 non-null  object
 6   Veh_Model               895128 non-null  object
 7   Veh_Category            895128 non-null  object
 8   Kg_veh                  895128 non-null  int64
 9   Test_mass               725117 non-null  float64
 10  Enedc (g/km)            642043 non-null  float64
 11  CO2_wltp                727410 non-null  float64
 12  Wheelbase_mm            894998 non-null  float64
 13  Axle_width_steer_mm     894982 non-null  float64
 14  Axle_width_other_mm     894926 non-null  float64
 15  Energy                  895128 non-null  object
 16  Fuel_mode               895087 non-null  object
 17  Engine_cm3              844646 non-null  float64
 18  Power_KW                891056 non-null  float64
 19  El_Consumpt_whkm        99365 non-null   float64
 20  Ernedc (g/km)           131553 non-null  float64
 21  Erwltp (g/km)           202395 non-null  float64
 22  year                    895128 non-null  int64
 23  Fuel consumption        205232 non-null  float64
 24  Electric range (km)     78808 non-null   float64
 25  Eco-innovation program  895128 non-null  int64
dtypes: float64(13), int64(4), object(9)
memory usage: 184.4+ MB
None

In [4]:
## aligning formating for Brnad and Constructor
# More cleanup and type conversions
df['Brand'] = df['Brand'].str.upper().str.strip()
df['Constructor'] = df['Constructor'].str.upper().str.strip()

In [5]:
#Treating Constructor NaNs Mapping from the Brand
# Count the occurrences of NaN 'Constructor' values by 'Brand'
nan_constructors = df[df['Constructor'].isna()]
nan_counts_by_brand = nan_constructors['Brand'].value_counts().nlargest(50)

# Get the list of brands with the top 30 highest NaN counts
top_nan_brands = nan_counts_by_brand.index.tolist()

print(top_nan_brands)

brands_list = ['NISSAN', 'VOLVO', 'TOYOTA', 'MG', 'RENAULT', 'LAND ROVER', 'LYNK&CO', 'DACIA', 'MASERATI', 'FERRARI', 'JAGUAR', 'SUBARU', 'PEUGEOT', 'LEXUS', 'TESLA', 'INFINITI', 'SSANGYONG', 'VOLKSWAGEN', 'CITROEN', 'LOTUS', 'DFSK', 'CATERHAM', 'FIAT', 'LAMBORGHINI', 'ASTON MARTIN', 'AIWAYS', 'SECMA', 'BENTLEY', 'MORGAN', 'KIA', 'MERCEDES BENZ', 'CHEVROLET', 'AUDI', 'SUZUKI', 'MPM MOTORS', 'BLUECAR', 'HYUNDAI', 'FORD', 'MC LAREN', 'ALPINA', 'CADILLAC', 'BMW', 'SEAT', 'MOBILIZE', 'SKODA', 'MAZDA', 'PORSCHE', 'DS', 'HONDA', 'PGO']

# Initialize an empty dictionary to store the mappings
brand_to_constructor = {}

# Loop through each brand in the list
for brand in brands_list:
    # Filter df_Ptred for the current brand where 'Constructor' is not NaN
    filtered_df = df[(df['Brand'] == brand) & df['Constructor'].notna()]
    
    # Check if there are any non-NaN 'Constructor' values
    if not filtered_df.empty:
        # Find the most common 'Constructor' value for this brand
        most_common_constructor = filtered_df['Constructor'].mode()[0]
        brand_to_constructor[brand] = most_common_constructor
    else:
        # If no non-NaN 'Constructor' values are found, map the brand to None or some default
        brand_to_constructor[brand] = None

# Output the resulting dictionary
#print(brand_to_constructor)

# First, create a mapping series from the brand to constructor
brand_constructor_mapping = pd.Series(brand_to_constructor)

# Use 'map' to create a Series of constructors mapped from the 'Brand' column
mapped_constructors = df['Brand'].map(brand_constructor_mapping)

# Now fill NaN values in the 'Constructor' column using this mapped Series
df['Constructor'] = df['Constructor'].fillna(mapped_constructors)

# After attempting to fill with mapped constructors, fill remaining NaNs with the 'Brand' name
df['Constructor'] = df['Constructor'].fillna(df['Brand'])

# If you want to double-check or see the changes, you can display the DataFrame

#df.info()

['NISSAN', 'VOLVO', 'TOYOTA', 'MITSUBISHI', 'VOLKSWAGEN', 'LAND ROVER', 'JAGUAR', 'SKODA', 'TESLA', 'MG', 'FORD', 'MASERATI', 'LEXUS', 'RENAULT', 'BENTLEY', 'FERRARI', 'POLESTAR', 'ASTON MARTIN', 'LAMBORGHINI', 'AIWAYS', 'SEAT', 'FIAT', 'CITROEN', 'MERCEDES-BENZ', 'MORGAN', 'MCLAREN', 'VOLKSWAGEN, VW', 'PORSCHE', 'CATERHAM', 'OPEL', 'DACIA', 'SUBARU', 'PEUGEOT', 'AUDI', 'HYUNDAI', 'SUZUKI', 'MAZDA', 'BUGATTI', 'HONDA']

In [6]:
### NAN Processing for mass and width
# List of columns to fill NaN values with mean
columns_to_fill = ['Test_mass', 'Wheelbase_mm', 'Axle_width_steer_mm', 'Axle_width_other_mm']

# Grouping criteria
grouping_columns = ['Veh_Model']

# Applying the transformation
for column in columns_to_fill:
    # Compute the mean for each group and fill NaN values in the column
    df[column] = df.groupby(grouping_columns)[column].transform(lambda x: x.fillna(x.mean()))

# Check the results to ensure NaN values are filled
print(df[columns_to_fill].isna().sum())

# Remove rows that still contain NaN values in any of the four specified columns
df.dropna(subset=columns_to_fill, inplace=True)

# Verify the operation by checking for NaN values again
print("After cleaning:")
print(df[columns_to_fill].isna().sum())

Test_mass              8766
Wheelbase_mm            130
Axle_width_steer_mm     127
Axle_width_other_mm     127
dtype: int64
After cleaning:
Test_mass              0
Wheelbase_mm           0
Axle_width_steer_mm    0
Axle_width_other_mm    0
dtype: int64

In [7]:
print(df.columns)  # This will show all column names

Index(['ID', 'Country', 'Constructor', 'Veh_type', 'Version', 'Brand',
       'Veh_Model', 'Veh_Category', 'Kg_veh', 'Test_mass', 'Enedc (g/km)',
       'CO2_wltp', 'Wheelbase_mm', 'Axle_width_steer_mm',
       'Axle_width_other_mm', 'Energy', 'Fuel_mode', 'Engine_cm3', 'Power_KW',
       'El_Consumpt_whkm', 'Ernedc (g/km)', 'Erwltp (g/km)', 'year',
       'Fuel consumption', 'Electric range (km)', 'Eco-innovation program'],
      dtype='object')

In [8]:
#NaN treatment 'Power_KW', 'El_Consumpt_whkm', 'Fuel consumption', 'Electric range (km)', 'Elect_Consumption', 'Erwltp (g/km) 
## averaging based on model

# Define grouping criteria
grouping_columns = ['Veh_Model', 'Version']
grouping_columns2 = ['Brand', 'Veh_type','Energy']
grouping_columns3 = ['Energy']
grouping_columns4 = ['Veh_type','Energy']
grouping_columns5 = ['Brand', 'Version']
grouping_columns6 = ['Veh_Model', 'Energy']
grouping_columns7 = ['Brand','Veh_type']


# Treat NaNs for 'Power_KW'
df['Power_KW'] = np.where(df['Energy'].isin(['diesel', 'petrol', 'lpg']),
                          df['Power_KW'].fillna(0),  # Fill NaN with 0 for 'diesel', 'petrol', 'lpg'
                          df.groupby(grouping_columns6)['Power_KW'].transform(lambda x: x.fillna(x.mean())))
                          # For other energy types, fill NaN with the mean of their group


# Treat NaNs for 'El_Consumpt_whkm'
df['El_Consumpt_whkm'] = np.where(df['Energy'].isin(['diesel', 'petrol', 'lpg']),
                                        df['El_Consumpt_whkm'].fillna(0),
                                        df.groupby(grouping_columns6)['El_Consumpt_whkm'].transform(lambda x: x.fillna(x.mean())))

# Treat NaNs for 'Fuel consumption'
df['Fuel consumption'] = np.where(df['Energy'] == 'electric',
                                        df['Fuel consumption'].fillna(0),
                                        df.groupby('Brand')['Fuel consumption'].transform(lambda x: x.fillna(x.mean())))

# Treat NaNs for 'Electric range (km)'
df['Electric range (km)'] = np.where(df['Energy'].isin(['diesel', 'petrol', 'lpg']),
                                          df['Electric range (km)'].fillna(0),
                                          df.groupby(grouping_columns4)['Electric range (km)'].transform(lambda x: x.fillna(x.mean())))


# Treat NaNs for 'CO2_wlpt'
df['CO2_wltp'] = np.where(df['Energy'] == 'electric',
                                        df['CO2_wltp'].fillna(0),
                                        df.groupby(grouping_columns6)['CO2_wltp'].transform(lambda x: x.fillna(x.mean())))

# Treat NaNs for 'Erwltp (g/km)'
df['Erwltp (g/km)'] = df['Erwltp (g/km)'].fillna(0)

# Treat NaNs for 'Engine_cm3'
df['Engine_cm3'] = df['Engine_cm3'].fillna(0)

# Check the results
print(df[['CO2_wltp','Power_KW', 'El_Consumpt_whkm', 'Fuel consumption', 'Electric range (km)', 'Erwltp (g/km)' , 'Engine_cm3']].isna().sum())

CO2_wltp               6041
Power_KW               2868
El_Consumpt_whkm        138
Fuel consumption       8248
Electric range (km)     570
Erwltp (g/km)             0
Engine_cm3                0
dtype: int64

In [9]:
# Check if any NaNs remain and remove rows where any of these columns still have NaN
df.dropna(subset=['CO2_wltp', 'Power_KW', 'El_Consumpt_whkm', 'Fuel consumption', 'Electric range (km)', 'Erwltp (g/km)', 'Engine_cm3'], inplace=True)

# Verify that no NaN values are left in the specified columns

In [10]:
# Remove the specified columns
df.drop(columns=['Enedc (g/km)', 'Ernedc (g/km)','ID'], inplace=True)

# Remove rows with any NaN values
df.dropna(inplace=True)

# Optional: Check the result to ensure all NaN values are gone and columns are removed
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 868516 entries, 0 to 898306
Data columns (total 23 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Country                 868516 non-null  object
 1   Constructor             868516 non-null  object
 2   Veh_type                868516 non-null  object
 3   Version                 868516 non-null  object
 4   Brand                   868516 non-null  object
 5   Veh_Model               868516 non-null  object
 6   Veh_Category            868516 non-null  object
 7   Kg_veh                  868516 non-null  int64
 8   Test_mass               868516 non-null  float64
 9   CO2_wltp                868516 non-null  float64
 10  Wheelbase_mm            868516 non-null  float64
 11  Axle_width_steer_mm     868516 non-null  float64
 12  Axle_width_other_mm     868516 non-null  float64
 13  Energy                  868516 non-null  object
 14  Fuel_mode               868516 non-null  object
 15  Engine_cm3              868516 non-null  float64
 16  Power_KW                868516 non-null  float64
 17  El_Consumpt_whkm        868516 non-null  float64
 18  Erwltp (g/km)           868516 non-null  float64
 19  year                    868516 non-null  int64
 20  Fuel consumption        868516 non-null  float64
 21  Electric range (km)     868516 non-null  float64
 22  Eco-innovation program  868516 non-null  int64
dtypes: float64(11), int64(3), object(9)
memory usage: 159.0+ MB

In [11]:
### removing brands and manufacturers wiht less than 0.1% share
def filter_by_frequency(df, column_name, threshold_pct=0.1):
    """ Filters the DataFrame by the frequency of occurrences in the specified column.
    
    Parameters:
        df (DataFrame): The DataFrame to filter.
        column_name (str): The column to calculate the frequency.
        threshold_pct (float): The percentage threshold to use for filtering (default is 0.1).
        
    Returns:
        DataFrame: A filtered DataFrame.
    """
    total_entries = len(df)
    threshold = (threshold_pct / 100) * total_entries
    value_counts = df[column_name].value_counts()
    valid_values = value_counts[value_counts >= threshold].index
    return df[df[column_name].isin(valid_values)]

# Apply the function to both 'Brand' and 'Constructor'
df = filter_by_frequency(df, 'Brand')
df = filter_by_frequency(df, 'Constructor')

# Optionally, check the result
print(df['Brand'].value_counts())
print(df['Constructor'].value_counts())

Brand
RENAULT                         105486
PEUGEOT                          96664
MERCEDES-BENZ                    67504
BMW                              55214
CITROEN                          52248
VOLKSWAGEN                       44075
FIAT                             43908
NISSAN                           43513
TOYOTA                           40696
SEAT                             40195
OPEL                             36854
FORD                             35510
DACIA                            33623
HYUNDAI                          29589
KIA                              24624
VOLVO                            21906
AUDI                             18453
MINI                             10227
TESLA                             7986
SKODA                             7750
MAZDA                             7396
MITSUBISHI                        7288
HONDA                             5463
JEEP                              5210
PORSCHE                           3874
DS                                3214
LAND ROVER                        3074
JAGUAR                            3046
CUPRA                             2212
LEXUS                             2104
SMART                             1842
ALFA ROMEO                        1834
BMW I                             1427
MITSUBISHI MOTORS (THAILAND)      1275
SUZUKI                             344
Name: count, dtype: int64
Constructor
PSA-OPEL                         123890
RENAULT-NISSAN-MITSUBISHI        114871
STELLANTIS                        78427
RENAULT                           72025
VW GROUP PC                       55822
VW-SAIC                           38425
MERCEDES-BENZ                     37852
BMW                               34647
TOYOTA-MAZDA                      33183
BMW GROUP                         32221
DAIMLER AG                        31494
FORD-VOLVO                        28344
KIA                               24624
HYUNDAI                           22335
VOLKSWAGEN                        22312
FCA-TESLA                         19118
FORD-WERKE GMBH                   18673
MAZDA-SUBARU-SUZUKI-TOYOTA        17357
FCA ITALY SPA                     12566
FORD                              10399
FCA                               10353
HYUNDAI MOTOR EUROPE               7254
TESLA-HONDA-JLR                    4799
MITSUBISHI MOTORS                  4289
TATA MOTORS JAGUAR LAND ROVER      4047
TESLA                              3257
HONDA MOTOR EUROPE LTD             3044
Name: count, dtype: int64

In [12]:
# NaN status
# Calculate NaN counts and percentages for each column
nan_counts = df.isna().sum()
nan_percentages = (df.isna().sum() / len(df)) * 100

# Create a DataFrame to display the NaN information in a tidy format
nan_df = pd.DataFrame({
    'NaN Count': nan_counts,
    'NaN Percentage': nan_percentages
})

# Print the DataFrame
print(nan_df)

                        NaN Count  NaN Percentage
Country                         0             0.0
Constructor                     0             0.0
Veh_type                        0             0.0
Version                         0             0.0
Brand                           0             0.0
Veh_Model                       0             0.0
Veh_Category                    0             0.0
Kg_veh                          0             0.0
Test_mass                       0             0.0
CO2_wltp                        0             0.0
Wheelbase_mm                    0             0.0
Axle_width_steer_mm             0             0.0
Axle_width_other_mm             0             0.0
Energy                          0             0.0
Fuel_mode                       0             0.0
Engine_cm3                      0             0.0
Power_KW                        0             0.0
El_Consumpt_whkm                0             0.0
Erwltp (g/km)                   0             0.0
year                            0             0.0
Fuel consumption                0             0.0
Electric range (km)             0             0.0
Eco-innovation program          0             0.0

In [13]:
# adding new Emmissions on target column 1 - on target 0 over target
df['Em_on_target'] = (df['CO2_wltp'] <= 95).astype(int)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 865628 entries, 0 to 898306
Data columns (total 24 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Country                 865628 non-null  object
 1   Constructor             865628 non-null  object
 2   Veh_type                865628 non-null  object
 3   Version                 865628 non-null  object
 4   Brand                   865628 non-null  object
 5   Veh_Model               865628 non-null  object
 6   Veh_Category            865628 non-null  object
 7   Kg_veh                  865628 non-null  int64
 8   Test_mass               865628 non-null  float64
 9   CO2_wltp                865628 non-null  float64
 10  Wheelbase_mm            865628 non-null  float64
 11  Axle_width_steer_mm     865628 non-null  float64
 12  Axle_width_other_mm     865628 non-null  float64
 13  Energy                  865628 non-null  object
 14  Fuel_mode               865628 non-null  object
 15  Engine_cm3              865628 non-null  float64
 16  Power_KW                865628 non-null  float64
 17  El_Consumpt_whkm        865628 non-null  float64
 18  Erwltp (g/km)           865628 non-null  float64
 19  year                    865628 non-null  int64
 20  Fuel consumption        865628 non-null  float64
 21  Electric range (km)     865628 non-null  float64
 22  Eco-innovation program  865628 non-null  int64
 23  Em_on_target            865628 non-null  int64
dtypes: float64(11), int64(4), object(9)
memory usage: 165.1+ MB

In [15]:
df.to_csv('PT_Cleaned.csv')